.carrousel {
    position: relative;
    width: 100%;
    height: 415px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: $medium-gap;

    .picture__order {
        position: absolute;
        bottom: $medium-gap;
        left: 50%;
        transform: translateX(-50%);
        background-color: transparent;
        color: $color-1;
    }

    .pictures {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    #leftClick {
        cursor: pointer;
        position: absolute;
        left: $medium-gap;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
    }

    #rightClick {
        cursor: pointer;
        position: absolute;
        right: $medium-gap;
        top: 50%;
        transform: rotate(180deg) translateY(50%);
        background-color: transparent;
    }
}