.carrousel {
    position: relative;
    width: 100%;
    height: 415px;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: $medium-gap;

    .picture__order {
        position: absolute;
        bottom: $medium-gap;
        left: 50%;
        transform: translateX(-50%);
        background-color: transparent;
        color: $color-1;
    }

    .pictures {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    #leftClick {
        @include carrouselClicks;
        left: $medium-gap;
        transform: translateY(-50%);
    }

    #rightClick {
        @include carrouselClicks;
        right: $medium-gap;
        transform: rotate(180deg) translateY(50%);

    }
}

@media screen and (max-width: 576px) {
    .carrousel {

        height: 255px;

        #leftClick,
        #rightClick {
            width: 12px;
        }


        #rightClick {
            right: 5px;
        }

        #leftClick {
            left: 5px;
        }
    }


}